In [10]:
import pandas as pd
from datetime import datetime

In [11]:
arquivo_demonstrativo = r"Unimed Extrato 08-24 em 05-08-24 - Copia (1).xls"

arquivo_atendimentos = r"Atendimentos_15-08-2024_15h39m21s.xlsx"

In [12]:
nomes_colunas_guias = ['Guia', 'Dt item']

df_demonstrativo = pd.read_excel(arquivo_demonstrativo, engine='xlrd')

df_demonstrativo = df_demonstrativo[nomes_colunas_guias]

df_demonstrativo = df_demonstrativo.astype(str)

df_demonstrativo = df_demonstrativo.rename(columns={'Guia':'GUIA_ATENDIMENTO', 'Dt item':'DATA_GUIAS'})

df_demonstrativo['DATA_GUIAS'] = pd.to_datetime(df_demonstrativo['DATA_GUIAS'], format='%d/%m/%Y').dt.strftime('%d/%m/%Y')

df_atendimentos = pd.read_excel(arquivo_atendimentos)

df_atendimentos = df_atendimentos.astype(str)

df_atendimentos['CTH_DTHR_INI'] = pd.to_datetime(df_atendimentos['CTH_DTHR_INI'], format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%d/%m/%Y')

df_atendimentos['CTH_DTHR_FIN'] = pd.to_datetime(df_atendimentos['CTH_DTHR_FIN'], format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%d/%m/%Y')

merge_df = pd.merge(df_demonstrativo, df_atendimentos, on='GUIA_ATENDIMENTO')

df_filtrado_periodo = merge_df[(merge_df['DATA_GUIAS'] >= merge_df['CTH_DTHR_INI']) & (merge_df['DATA_GUIAS'] <= merge_df['CTH_DTHR_FIN'])]

df_filtrado_periodo

,GUIA_ATENDIMENTO,DATA_GUIAS,HSP_NUM,HSP_PAC,PAC_NOME,HSP_DTHRE,HSP_DTHRA,HSP_TRAT_INT,CTH_NUM,CTH_DTHR_INI,CTH_DTHR_FIN,GUIA_CONTA,CNV_COD,CNV_NOME,GIH_NUMERO,GIH_DTHR_INI,GIH_DTHR_FIM,GIH_DTHR_VALID,FAT_SERIE,FAT_NUM
0,8724403,03/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205.0
1,8724403,04/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205.0
2,8724403,05/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205.0
3,8724403,06/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205.0
4,8724403,07/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37296,6851413,24/10/2023,26,1039,ZORAIA BANDEIRA DE MELO COSTA LIMA ...,2023-10-24 13:07:13.300,2023-10-24 19:35:00.000,I,2,24/10/2023,24/10/2023,6851413,2,UNIMED NATAL,6851413,2023-10-24 13:07:13.300000,2023-10-24 01:07:00,NaT,123.0,26561.0
37297,6851413,24/10/2023,26,1039,ZORAIA BANDEIRA DE MELO COSTA LIMA ...,2023-10-24 13:07:13.300,2023-10-24 19:35:00.000,I,1,24/10/2023,24/10/2023,6851413,2,UNIMED NATAL,6851413,2023-10-24 13:07:13.300000,2023-10-24 01:07:00,NaT,123.0,26559.0
37298,6851413,24/10/2023,26,1039,ZORAIA BANDEIRA DE MELO COSTA LIMA ...,2023-10-24 13:07:13.300,2023-10-24 19:35:00.000,I,2,24/10/2023,24/10/2023,6851413,2,UNIMED NATAL,6851413,2023-10-24 13:07:13.300000,2023-10-24 01:07:00,NaT,123.0,26561.0
37299,9325552,20/05/2024,4,508025,ZULMAR BEZERRA DA SILVA ...,2024-05-20 10:41:25.257,2024-05-20 22:41:25.257,T,0,20/05/2024,20/05/2024,0,2,UNIMED NATAL,9325552,2024-05-20 00:00:00,2024-05-20 23:59:59,NaT,nan,nan
37300,9325552,20/05/2024,4,508025,ZULMAR BEZERRA DA SILVA ...,2024-05-20 10:41:25.257,2024-05-20 22:41:25.257,T,0,20/05/2024,20/05/2024,0,2,UNIMED NATAL,9325552,2024-05-20 00:00:00,2024-05-20 23:59:59,NaT,124.0,15633.0

In [13]:
df_internacao = df_filtrado_periodo[df_filtrado_periodo['HSP_TRAT_INT'] == 'I']

df_internacao = df_internacao.drop_duplicates(subset='FAT_NUM').reset_index()

df_internacao = df_internacao.drop(df_internacao.columns[[0]], axis = 1)

df_internacao['FAT_NUM'] = df_internacao['FAT_NUM'].str.rstrip('.0')

df_internacao['FAT_NUM'] = pd.to_numeric(df_internacao['FAT_NUM'])

df_internacao

,GUIA_ATENDIMENTO,DATA_GUIAS,HSP_NUM,HSP_PAC,PAC_NOME,HSP_DTHRE,HSP_DTHRA,HSP_TRAT_INT,CTH_NUM,CTH_DTHR_INI,CTH_DTHR_FIN,GUIA_CONTA,CNV_COD,CNV_NOME,GIH_NUMERO,GIH_DTHR_INI,GIH_DTHR_FIM,GIH_DTHR_VALID,FAT_SERIE,FAT_NUM
0,8724403,03/04/2024,4,596711,ABDON ALMEIDA CAMPOS JUNIOR,2024-04-03 01:36:35.813,2024-04-09 18:00:00.000,I,1,03/04/2024,09/04/2024,8724403,2,UNIMED NATAL,8724403,2024-04-03 01:36:35.813000,2024-04-09 23:59:59,NaT,124.0,9205
1,8819589,09/04/2024,2,626315,ADAMASTOR NOGUEIRA DA SILVA,2024-04-09 20:08:23.720,2024-04-17 13:40:00.000,I,1,09/04/2024,17/04/2024,8819589,2,UNIMED NATAL,8819589,2024-04-09 20:08:23.720000,2024-04-17 23:59:59,NaT,124.0,1084
2,8871029,13/04/2024,3,596788,ADEILZE SILVA DOS SANTOS,2024-04-13 05:54:40.953,2024-04-13 18:10:00.000,I,1,13/04/2024,13/04/2024,8871029,2,UNIMED NATAL,8871029,2024-04-13 05:54:40.953000,2024-04-13 17:54:40,2024-05-29 23:59:00.000,124.0,10233
3,8874508,13/04/2024,2,626954,ADILIA MARIA LISBOA ARRUDA DE MELO,2024-04-13 18:44:14.317,2024-04-19 12:00:00.000,I,1,13/04/2024,19/04/2024,8874508,2,UNIMED NATAL,8874508,2024-04-13 18:44:14.317000,2024-04-19 23:59:59,NaT,124.0,10851
4,7529746,19/12/2023,17,422295,ADRIANA DE FREITAS SILVA ...,2023-12-19 15:14:50.560,2023-12-20 10:30:00.000,I,1,19/12/2023,20/12/2023,7529746,2,UNIMED NATAL,7529746,2023-12-19 00:00:00,2023-12-20 23:59:59,NaT,124.0,3017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,8776892,06/04/2024,5,493240,WHARTON FONSECA WANDERLEY DE ALBUQUERQUE JUNIO...,2024-04-06 06:22:49.017,2024-04-08 09:30:00.000,I,2,06/04/2024,08/04/2024,8776892,2,UNIMED NATAL,8776892,2024-04-06 06:22:49.017000,2024-04-08 23:59:59,NaT,124.0,11039
355,8535030,01/04/2024,2,622755,ZAMY FERREIRA LIMA,2024-03-18 14:59:26.430,2024-04-04 16:40:00.000,I,3,01/04/2024,04/04/2024,8987636,2,UNIMED NATAL,8987636,2024-04-02 00:00:00,2024-04-04 23:59:59,NaT,124.0,9269
356,8956776,19/04/2024,4,622755,ZAMY FERREIRA LIMA,2024-04-19 11:05:57.177,2024-04-21 14:00:00.000,I,1,19/04/2024,21/04/2024,8956776,2,UNIMED NATAL,8956776,2024-04-19 11:05:57.177000,2024-04-21 23:59:59,NaT,124.0,10365
357,6851413,24/10/2023,26,1039,ZORAIA BANDEIRA DE MELO COSTA LIMA ...,2023-10-24 13:07:13.300,2023-10-24 19:35:00.000,I,1,24/10/2023,24/10/2023,6851413,2,UNIMED NATAL,6851413,2023-10-24 13:07:13.300000,2023-10-24 01:07:00,NaT,123.0,26559
358,6851413,24/10/2023,26,1039,ZORAIA BANDEIRA DE MELO COSTA LIMA ...,2023-10-24 13:07:13.300,2023-10-24 19:35:00.000,I,2,24/10/2023,24/10/2023,6851413,2,UNIMED NATAL,6851413,2023-10-24 13:07:13.300000,2023-10-24 01:07:00,NaT,123.0,26561

In [14]:
df_tratamento = df_filtrado_periodo[df_filtrado_periodo['HSP_TRAT_INT'] == 'T']

df_tratamento = df_tratamento[df_tratamento.FAT_NUM != 'nan'].reset_index()

df_tratamento = df_tratamento.drop(df_tratamento.columns[[0]], axis = 1)

df_tratamento['FAT_NUM'] = df_tratamento['FAT_NUM'].str.rstrip('.0')

df_tratamento['FAT_NUM'] = pd.to_numeric(df_tratamento['FAT_NUM'])

df_tratamento

,GUIA_ATENDIMENTO,DATA_GUIAS,HSP_NUM,HSP_PAC,PAC_NOME,HSP_DTHRE,HSP_DTHRA,HSP_TRAT_INT,CTH_NUM,CTH_DTHR_INI,CTH_DTHR_FIN,GUIA_CONTA,CNV_COD,CNV_NOME,GIH_NUMERO,GIH_DTHR_INI,GIH_DTHR_FIM,GIH_DTHR_VALID,FAT_SERIE,FAT_NUM
0,9227157,11/05/2024,1,630900,ABMAEL BENTO DA SILVA JUNIOR,2024-05-11 11:36:17.423,2024-05-11 11:45:29.117,T,0,11/05/2024,11/05/2024,0,2,UNIMED NATAL,9227157,2024-05-11 00:00:00,2024-05-11 23:59:59,NaT,124.0,15532
1,9325638,20/05/2024,3,495085,ADAILTON VICTOR SANTOS SILVA ...,2024-05-20 10:47:55.720,2024-05-20 22:47:55.720,T,0,20/05/2024,20/05/2024,0,2,UNIMED NATAL,9325638,2024-05-20 00:00:00,2024-05-20 23:59:59,NaT,124.0,15633
2,9535554,06/06/2024,2,544972,ADANILZA RAMOS DE MELO,2024-06-06 08:55:30.793,2024-06-06 20:55:30.793,T,0,06/06/2024,06/06/2024,0,2,UNIMED NATAL,9535554,2024-06-06 00:00:00,2024-06-06 23:59:59,NaT,124.0,15981
3,9229200,13/05/2024,4,529982,ADEILSON DE LIMA NUNES JUNIOR ...,2024-05-13 03:48:35.570,2024-05-13 15:48:35.570,T,0,13/05/2024,13/05/2024,0,2,UNIMED NATAL,9229200,2024-05-13 00:00:00,2024-05-13 23:59:59,NaT,124.0,15556
4,9406417,25/05/2024,1,632804,ADEILSON SOARES BARROS,2024-05-25 11:35:57.680,2024-05-25 17:14:20.873,T,0,25/05/2024,25/05/2024,0,2,UNIMED NATAL,9406417,2024-05-25 00:00:00,2024-05-25 23:59:59,NaT,124.0,15698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,9397482,24/05/2024,3,79526,YOLANDA NEVES SILVA DE SANTANA ...,2024-05-24 11:58:37.497,2024-05-24 17:10:42.947,T,0,24/05/2024,24/05/2024,0,2,UNIMED NATAL,9397482,2024-05-24 00:00:00,2024-05-24 23:59:59,NaT,124.0,1569
1878,9566398,08/06/2024,9,422647,YONE VARELA DE MELO ...,2024-06-08 17:10:24.973,2024-06-08 21:39:22.373,T,0,08/06/2024,08/06/2024,0,2,UNIMED NATAL,9566398,2024-06-08 00:00:00,2024-06-08 23:59:59,NaT,124.0,16001
1879,9282974,15/05/2024,5,127518,ZELIA MEIRA SILVA ...,2024-05-15 19:19:05.710,2024-05-16 01:48:24.620,T,0,15/05/2024,16/05/2024,0,2,UNIMED NATAL,9282974,2024-05-15 00:00:00,2024-05-15 23:59:59,NaT,124.0,15591
1880,9536854,06/06/2024,13,96320,ZENAIDE HONORIO CAVALCANTI ...,2024-06-06 09:31:58.443,2024-06-06 12:06:53.977,T,0,06/06/2024,06/06/2024,0,2,UNIMED NATAL,9536854,2024-06-06 00:00:00,2024-06-06 23:59:59,NaT,124.0,15981
1881,9325552,20/05/2024,4,508025,ZULMAR BEZERRA DA SILVA ...,2024-05-20 10:41:25.257,2024-05-20 22:41:25.257,T,0,20/05/2024,20/05/2024,0,2,UNIMED NATAL,9325552,2024-05-20 00:00:00,2024-05-20 23:59:59,NaT,124.0,15633